.card-label__container {
	position: absolute;
	bottom: 90px;
	right: 0;
}

.card-label__content {
	display: flex;
	background-color: #0d0d0d;
	align-items: center;
	color: white;
	font-size: 12px;
	font-family: "Roboto", sans-serif;
	height: 40px;
	justify-content: center;
	font-weight: bold;
	padding: 0px 50px;
}
